
article.ej2 #titulo {
    color: teal
}
article.ej2 #subtitulo {
    color: blueviolet
}
article.ej2 p strong {
    color: red
}
article.ej2 .destacado {
    color: orange
}
article.ej2 em {
    color: blue
}
article.ej2 #subtitulo, article.ej2 p em, article.ej2 table caption {
    color: deepskyblue
}
article.ej2 span.especial {
    color: purple
} 
article.ej2 th, 
article.ej2 td {
    border 1px solid: black
}
article.ej2 td {
    color: darkgreen
}
article.ej2 .especial {
    color: orangered
}
article.j2 td strong {
    color: darkorange
}
